// Custom web fonts

$webfont-active: false; //Using a custom web font like a google font or fonts.com? Set it true here to output the custom classes below.

$font-default: Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-default-size: 1em;

$font-bebas-regular: 'BebasRegular';
$font-light-weight: 300;
$font-normal-weight: 400;
$font-bold-weight: 700;


// h1-h5
@mixin headings {
	font-family: $font-bebas-regular;
	color: $color-black-slate;
	//text-shadow: 1px 1px 0 #fff;
	text-transform: uppercase;
}

/* ==========================================================================
Global Fonts
========================================================================== */

@include font-face("BebasRegular", font-files("bebas___.ttf", "bebas___.eot", "bebas___.woff"));

//@if .wf-active class is on html write these classes, @else do nothing
@if ($webfont-active) {
	.font-light-weight {
		font-weight: $font-light-weight;
	}

	.font-normal-weight {
		font-weight: $font-normal-weight;
	}

	.font-bold-weight {
		font-weight: $font-bold-weight;
	}

	.font-oswald {
		font-family: $font-oswald, $font-default;
	}
}