// Global mixins
// i.e., Helper methods
@import "mixins";

// Global variables
// Contains widths, breakpoints, spacing, and colors
@import "variables";

// Global font rules
// Contains body element styles, headings (h1, h2, etc.)
@import "fonts";

// Global icon rules
// Contains custom "icon font" rules, see ReadMe file in "assets/fonts/icons" for more info
@import "icons";


/* ==========================================================================
Master Base Template - Structure
========================================================================== */
* {
    @include box-sizing(content-box);
}

html {
    background-color: $color-black;
}

body {
    background-color: $color-white;
    color: rgb(102, 102, 102);
    font-family: $font-default;
    font-size: $font-default-size;
    font-weight: $font-normal-weight;
    line-height: 1.250; /* unitless line-height: http://cssleading.com/ */
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
}

/* ==========================================================================
Base Typography
========================================================================== */
h1, h2, h3, h4, h5 {
    @include headings;
    font-weight: $font-bold-weight;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.333em;
}

h3, h4, h5 {
    margin-bottom: 0;
    margin-top: 0;
}

// h4, h5 {
//     color: $color-deep-blue;
// }

p {
    margin-bottom: 0;   // zero out default user agent style
    margin-top: 0;  // zero out default user agent style
}

strong {
    font-weight: $font-bold-weight;
}

/* ==========================================================================
Links
========================================================================== */
a {
    color: $color-gray;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    
    &:hover {
        text-decoration: underline;
    }
}

/* ==========================================================================
Lists
========================================================================== */
ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    
    > li {
        display: inline-block;
    }
}

/* ==========================================================================
Containers & Holders
========================================================================== */
// header {
//     margin-left: auto;
//     margin-right: auto;
    
//     ul {
//         padding: 0;
//         list-style-type: none;
        
//         > li {
//             display: inline-block;
//             padding-right: $default-space--smallest;
//         }
//     }
// }
#wrapper {
    min-height: 100%;
    position: relative;
}

#main {
    min-height: 100%;
    position: relative;
}

[class*="container"] {
    margin-left: auto;
    margin-right: auto;
}

.container-full {
    > [class^="container"] {
        width: $max-width;
        
        @media ( max-width: $max-width + $default-space * 2 ) { // Keep "fluid feel" of gutters for containers
            margin-left: $default-space;
            margin-right: $default-space;
            width: auto;
        }

        @media ( max-width: $breakpoint-phone ) {
            margin-left: $default-space--smaller;
            margin-right: $default-space--smaller;

            .hide-mobile {
                display: none;
            }

            .full-width-mobile {
                width: 100%;
                
                > div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

/* ==========================================================================
Clearing
========================================================================== */
.clearfix {
    @include clear();
}

/* ==========================================================================
Content component
========================================================================== */
.content {
    position: relative;
    
    p {
        margin-bottom: $default-space--half;
        margin-top: $default-space--half;
    }

    .entry {
        margin-bottom: $default-space--2x;
        margin-top: $default-space;
    }
}

/* ==========================================================================
Global Padding & Margin
========================================================================== */
@import "spacing";

/* ==========================================================================
Global Column Structure
========================================================================== */
@import "positioning";