// Global mixins
@import "mixins";

// Global variables
@import "variables";


/* ==========================================================================
Master Base Template - Structure
========================================================================== */
* {
    @include box-sizing(content-box);
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: $ruda-regular-400, "Lucida Sans Unicode", sans-serif;
    font-size: 1em;
    line-height: 1.250; /* unitless line-height: http://cssleading.com/ */
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
}

/* ==========================================================================
Typography
========================================================================== */
@import "fonts";

h1,
h2,
h3 {
  @extend %headings;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.333em;
}

h3, h4, h5 {
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    color: $deep-blue;
}

p {
    margin-bottom: 0;   // zero out default user agent style
    margin-top: 0;  // zero out default user agent style
    text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

strong {
    font-weight: 900;
}

/* ==========================================================================
Links
========================================================================== */
a {
    color: #666;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}


/* ==========================================================================
Containers & Holders
========================================================================== */
header {
    margin-left: auto;
    margin-right: auto;
    ul {
        padding: 0;
        list-style-type: none;
        > li {
            display: inline-block;
            padding-right: $default-space--smallest;
        }
    }
}

[class*="container"] {
    margin-left: auto;
    margin-right: auto;
}

.container-full {
    > [class^="container"] {
        width: $max-width;
        @media ( max-width: $max-width + $default-space * 2 ) { // Keep "fluid feel" of gutters for containers
            margin-left: $default-space;
            margin-right: $default-space;
            width: auto;
        }

        @media ( max-width: $breakpoint-phone ) {
            margin-left: $default-space--smaller;
            margin-right: $default-space--smaller;

            .hide-mobile {
                display: none;
            }

            .full-width-mobile {
                width: 100%;
                > div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

    }
}

/* ==========================================================================
Positioning
========================================================================== */
.clearfix {
    @include clear();
}

/* ==========================================================================
Header
========================================================================== */
.logo {
    float: left;
}

/* ==========================================================================
Main Nav
========================================================================== */
.main-nav {
    background-color: $amber-red;
  a {
    color: $white;
    font-weight: bold;
    &:hover {
      color: $mustard-yellow;
      text-decoration: none;
    }
  }
}

/* ==========================================================================
Lists
========================================================================== */
ul {
  margin-bottom: 0;
  margin-top: 0;
}

/* ==========================================================================
Experience module
========================================================================== */
#experience {
    p {
        margin-bottom: $default-space--half;
        margin-top: $default-space--half;
    }

    .entry {
        margin-bottom: $default-space--2x;
        margin-top: $default-space;
    }
}

/* ==========================================================================
Sidebar module
========================================================================== */
sidebar {
    p {
        margin-bottom: $default-space--half;
        margin-top: $default-space--half;
    }
}

/* ==========================================================================
Global Padding & Margin
========================================================================== */
@import "spacing";
