// Global mixins
//@import "mixins";

// Global variables
@import "variables";


/* ==========================================================================
Master Base Template - Structure
========================================================================== */
body {
  margin: 0;
}


/* ==========================================================================
Typography
========================================================================== */
h1 {
}

h2 { color: red;}


/* ==========================================================================
Links
========================================================================== */
a {
  &:hover {
  }
}


/* ==========================================================================
Containers & Holders
========================================================================== */
.wrapper {
  border: 5px solid green;
  @include box-sizing(border-box);
}


/* ==========================================================================
Global Padding & Margin
========================================================================== */
@import "spacing";
