/* ==========================================================================
Custom Global DirtyFranks-fonts
========================================================================== */

// Example @font-face rule
@include font-face("DirtyFranks-fonts", font-files("icons/DirtyFranks-fonts.ttf", "icons/DirtyFranks-fonts.eot", "icons/DirtyFranks-fonts.eot?#iefix", "icons/DirtyFranks-fonts.woff", "icons/DirtyFranks-fonts.svg"));

.icon {
	font-family: 'DirtyFranks-fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-font-menu-mobile:before {
	content: "\7e";
}
.icon-font-cart:before {
	content: "\21";
}
.icon-font-facebook:before {
	content: "\40";
}
.icon-font-instagram:before {
	content: "\23";
}
.icon-font-twitter:before {
	content: "\24";
}