// Global variables
@import "variables";

// ==========================================================================
//   Global Mixins
// ==========================================================================

// clearing floats
@mixin clear() {
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

// hover, active, and focus
@mixin hoverActiveFocus( $property, $value ) {
  &:hover,
  &:active,
  &:focus {
    #{$property}: $value;
  }
}