.sorting-hat.col-wrap.flc.padding--verticals
  .left-selection.tops.col.col-3.align-center
    %h4.heading Tops That Suit You
    
    .swatches.col-wrap.flc.margin--verticals--half          
      .col.col-2
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​vibrant-one-button-blazer/​2446205.html?dwvar_2446205_colorCode=899', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Green_Tan_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-2
        %a{ :href => 'http:​/​/​www.thelimited.com/​product/​soft-one-button-jacket/​2216252.html?dwvar_2216252_colorCode=315', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Tan_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

    .swatches.col-wrap.flc.margin--verticals--half  
      .col.col-2
        %a{ :href => 'http:​/​/​www.thelimited.com/​product/​collection-two-button-jacket/​2516028.html?dwvar_2516028_colorCode=144', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Blk_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-2  
        %a{ :href => 'http:​/​/www.thelimited.com/​product/​soft-one-button-jacket/​2826252.html?dwvar_2826252_colorCode=540', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Coral_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View
    
    .swatches.col-wrap.flc.margin--verticals--half  
      .col.col-2
        %a{ :href => 'http:​/​/www.thelimited.com/​product/​denim-jacket/​2715973.html?dwvar_2715973_colorCode=296', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Jean_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-2
        %a{ :href => 'http:​/​/​www.thelimited.com/​product/​trimmed-ponte-one-button-blazer/​2826305.html?dwvar_2826305_colorCode=250', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Navy_Jacket_NORED.jpg', :alt => ''
          %span.quickViewCta
            Quick View
    
    .swatches.col-wrap.flc.margin--verticals--half        
      .col.col-2
        %a{ :href => 'http:​/​/www.thelimited.com/​product/​vibrant-one-button-blazer/​2446205.html?dwvar_2446205_colorCode=540', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/CoralTipping_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-2
        %a{ :href => 'http:​/​/​www.thelimited.com/​product/​striped-one-button-jacket/​2546194.html?dwvar_2546194_colorCode=102', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/Railroad_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View
    
    .swatches.col-wrap.flc.margin--verticals--half  
      .col.col-2
        %a{ :href => 'http:​/​/​www.thelimited.com/​product/​linen-one-button-jacket/​2216170.html?dwvar_2216170_colorCode=395', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/FrostTaupe_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-2
        %a{ :href => 'http:​/​/www.thelimited.com/​product/​denim-blazer/​8436293.html?dwvar_8436293_colorCode=296', :class => 'product' }
          =image_tag 'modules/sortingHat/tops/DenimSailor_Jacket.jpg', :alt => ''
          %span.quickViewCta
            Quick View

  .selection-container.align-center
    #tops

    #bottoms

  .right-selection.bottoms.fl-right.col-5-2.align-center      
    %h4.heading Bottoms That Suit You
    
    .swatches.col-wrap.flc.margin--verticals--half 
      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​drew-striped-flare-pants/​6894700.html?dwvar_6894700_colorCode=102', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Graphite_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3  
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​collection-wide-waistband-pencil-skirt/​7263870.html?dwvar_7263870_colorCode=102', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Graphite_Skirt.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​drew-sateen-bootcut-pants/​6774605.html?dwvar_6774605_colorCode=150', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Denim_Suit_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View
      
    .swatches.col-wrap.flc.margin--verticals--half
      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​sateen-pencil-pants/​6779378.html?dwvar_6779378_colorCode=150', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Navy_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​subtle-floral-pencil-skirt/​7314318.html?dwvar_7314318_colorCode=540', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Coral_Skirt.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​sateen-pencil-pants/​6779424.html?dwvar_6779424_colorCode=832', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Green_Capri_009.jpg', :alt => ''
          %span.quickViewCta
            Quick View
    
    .swatches.col-wrap.flc.margin--verticals--half
      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​collection-drew-bootcut-pants/​6629241.html?dwvar_6629241_colorCode=102', :class => 'product' } 
          =image_tag 'modules/sortingHat/bottoms/Railroad_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​dot-pencil-skirt/​7314065.html?dwvar_7314065_colorCode=296', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Blue_Polka_Skirt.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3  
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​917-dark-skinny-jeans/​8849251.html?dwvar_8849251_colorCode=246', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Denim_Jean.jpg', :alt => ''
          %span.quickViewCta
            Quick View
    
    .swatches.col-wrap.flc.margin--verticals--half  
      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​exact-stretch-wide-waistband-skinny-pants/​6439317.html?dwvar_6439317_colorCode=150', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Navy_Capri.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​showproduct?dwvar_6439344_colorCode=398&pid=6439344', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/LT_Tan_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View

      .col.col-3
        %a{ :href => 'http:​/​/​staging.thelimited.com/​product/​drew-soft-flare-pants/​6894702.html?dwvar_6894702_colorCode=540', :class => 'product' }
          =image_tag 'modules/sortingHat/bottoms/Coral_Pant.jpg', :alt => ''
          %span.quickViewCta
            Quick View
/end .sorting-hat