:ruby
  utilityNav = data.components.utilityNav

.container.clearfix.margin--sides--mobile
  
  #logo.fl-left
    %a{ :href => '#', :title => 'The Company' }
      =image_tag 'assets/img/logo/logo.jpg', :alt => 'Dirty Franks', :width => '193', :height => '107'

  =partial 'partials/main-nav'