.container.col-wrap.flc.padding--verticals--half
  .col.col-3
    %h5 About Us
    %ul
      %li.display-b
        %a{ :href => '#' }
          Store Locator
      %li.display-b
        %a{ :href => '#' }
          Our Company
      %li.display-b
        %a{ :href => '#' }
          Careers
      %li.display-b
        %a{ :href => '#' }
          Contact Us
      %li.display-b
        %a{ :href => '#' }
          Sitemap
      %li.display-b
        %a{ :href => '#' }
          Press                

  .col.col-3
    %h5 Customer Service
    %ul
      %li.display-b
        %a{ :href => '#' }
          Order Tracking
      %li.display-b
        %a{ :href => '#' }
          Shipping Information
      %li.display-b
        %a{ :href => '#' }
          Returns &amp; Exchanges
      %li.display-b
        %a{ :href => '#' }
          International Shipping
      %li.display-b
        %a{ :href => '#' }
          Gift Cards
      %li.display-b
        %a{ :href => '#' }
          Size Chart
   
  .col.col-3
    %h5 Follow Us
    %ul.social
      %li.margin-right--half
        %a{ :href => '#' }
          %span.icon.icon-facebook
      %li.margin-right--half
        %a{ :href => '#' }
          %span.icon.icon-twitter
      %li.margin-right--half
        %a{ :href => '#' }
          %span.icon.icon-pinterest

.container.margin--verticals--2x
  %p.display-i.margin-right--2x 
    &copy; 2014, YourStores, LLC

  %ul.display-i.margin-left
    %li.margin-left--smallest
      %a{ :href => '#' }
        Privacy |  
    %li.margin-left
      %a{ :href => '#' }
        Ca Privacy Policy
    %li.margin-left
      %a{ :href => '#' }
        Legal Notices    