.container.padding--verticals
  %p.display-i.margin-right--2x.margin-bottom
    &copy; 2014 Dirty Franks Hot Dog Palace all rights reserved

  .fl-right.margin-bottom
    %ul.display-i
      %li.utility.margin-right--half      
        248 4th Street Columbus, Ohio 43215
      %li.utility
        |
      %li.utility.margin-left--half.margin-right--half
        614.824.4673
      %li.utility
        |  
      %li.utility.margin-left--half.margin-right--2x
        %a{ :href => '#' }
          Contact Us
      %li         
        %a{ :href => '#', :title => 'DirtyFranks Facebook' }  
          %span.icon.icon-font-facebook
      %li  
        %a{ :href => '#', :title => 'DirtyFranks Instagram', :class => 'margin-left' }  
          %span.icon.icon-font-instagram    