:ruby
  mainNav = data.components.mainNav

%nav#main-nav.padding--bottom.fl-right
  %ul
    - mainNav.links.each do |i|
      %li.margin-left
        %a{ :href => i.href } #{ i.name }

  -#=partial 'partials/search'        