.slides
  %h2.text.align-center
    Dirty Franks Hot Dog Palace serves all-beef, vegan and vegetarian hot dogs, cold  beer, and dazzling drinks!

%nav.padding-bottom--2x
  %a{ :href => '', :rel => 'slide-1' }
  %a{ :href => '', :rel => 'slide-2', :class => 'active' }
  %a{ :href => '', :rel => 'slide-3' }