// Expandable Drawer is @imported into modules-master.scss

/* ==========================================================================
Expandable drawer component
========================================================================== */
.expandable-drawer {
	position: relative;

	.content {
		@extend .content;
		border-top: 1px solid $color-black;
		display: none;
	}
	// change later to inherit from .icon
	.expandable-drawer-icon {
		height: 16px;
		position: absolute;
		top: -15px;
		width: 19px;
	}
}