// Sorting hat is @imported into modules-master.scss

.sorting-hat {
	position: relative;

	.col {
		outline: 1px solid green;
	}

	.product {
		cursor: pointer;
		text-align: center;

		&.selected,
		&:hover {
			outline: 1px solid red;
		}
	}

	.selection-container {
		/* Override column styles */
		.product {
			float: none;
			width: auto;
		}
	}
}