// Sorting hat is @imported into modules-master.scss

.sorting-hat {
	position: relative;
	/* non rxd properties below */
	margin: 0 auto;
	width: 790px;

	.heading {
		background-color: $color-black;
		color: $color-white;
		margin-left: $default-space--smallest;
		margin-right: $default-space--smallest;
	}

	.left-selection {
		position: relative;
		z-index: 2;
	}

	/* non rxd properties below */
	.right-selection {
		position: relative;
		z-index: 2;
		
		.product {
			img {
				height: 152px;
				width: 93px;
			}
		}
	}

	.product {
		cursor: pointer;
		display: inline-block;
		border: 1px solid #ccc;
		/* non rxd properties below */
		img {
			height: 119px;
			width: 119px;
		}

		&.selected,
		&:hover {
			border: 1px solid $color-black;
		}
	}

	.selection-container {
		left: 243px;
		position: absolute;
		z-index: 1;

		/* Override column styles */
		.product {
			border: none;
			float: none;
			width: auto;
		}

		#tops {
			img {
				width: 250px;
				height: 270px;
			}
		}

		#bottoms {
			img {
				width: 250px;
				height: 400px;
			}
		}
	}
}