---
title: "Help Computer."
description: "HTML Starter Kit"
pageStyles:
---

%section
  %h2
    h2 heading
  %p
    paragraph You're not going to have your mommies right behind you to wipe your little tushies. I'm not a pervert. I was just looking for Turboman doll. You got what you want. Give these people air. You cold blooded bastard. I'll tell you what I think of it. I'll live to see you eat that contract. But I hope you leave enough room for my fist. Because I'm going to ram it into your stomach and break your goddamn spine!!! Just bodies. Here is Sub Zero. Now plain Zero. Well that hit the spot. Grant me revenge! And if you do not listen, then to HELL with you. My name is John Kimble and I love my car. Freeze in hell batman! Scumbag. Of course. I'm a Terminator. Cocainum! This is the plan, get your ass to mars. Come with me if you want to live. Take your toy back to the carpet. Of course. I'm a Terminator. You're fired.
