---
title: "The Page Title"
description: "The Page Description"
-#pageStyles:
---


%h1
  development branch
%h2
  use this branch for architecture changes
%h4
  h4 someuser@yoursite.com

.col-wrap.flc.margin-top
  .col.col-3-2.full-width-mobile
    %section.content.padding-right--2x
      %h3.margin-bottom
        h3 Lorem Ipsum

      %article.entry
        %h4.margin-bottom--half
          h4 Lorem Ipsum:
          %small
            small tag Lorem Ipsum
        %h5
          h5 Lorem Ipsum
        %p
          Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin risus eu magna dignissim, et mattis felis bibendum. Curabitur sed erat volutpat, laoreet lectus id, scelerisque dolor. Cras arcu risus, aliquam ut dui id, fringilla tristique enim. Sed et sem in diam gravida molestie.

  %sidebar.content.col.col-3.hide-mobile
    %h3.margin-bottom
      h3 Sidebar
    
    %article.entry
      %h4.margin-bottom--half
        h4 Subhead
      %p
        %a{ :href => 'modules.html' } Site Modules

    %article.entry
      %h5.margin-bottom--half
        h5 Subhead
      %p Paragraph
