---
title: "Welcome to development with Middleman."
description: "This is the description."
-#pageStyles:
---

%section
  %h1
    Adam Partyka
  %article
    %h2
      Front End Developer
    .padding--verticals--half
      %p
        I'm a Front End Developer who specializes in building scalable and responsive web apps and sites. My experience in both design and development makes me a unique contributor to any project team.
    .col-wrap.flc.margin-top
      .col.col-3-2.full-width-mobile
        .padding-right
          Dr. Jimmy Brungus forgot to do rockets. Hippie Joel tastes like cow bathroom. Not for horses.
      .col.col-3.hide-mobile
        %h3.margin-bottom
          Skills
        %p
          Looks like my aunt make up your own puzzles dummy that would be cool dingus password stale out of luck dingus pal eggs spoiled hose it off you bimbo boring ice cubes arm pits computer technologies of your own eat the ants protein ice cream fear napkins flying surfboard take your sister dum dum broo

