---
title: "Welcome to development with Middleman."
description: "This is the description."
-#pageStyles:
---

%section
  %h1
    HTML Starter Kit Middleman Edition [v0.9]
  %article
    %h2
      Post title
    %h3
      Subtitle and info
    .padding--verticals--half
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
