---
title: "Dirty Franks Columbus"
description: "Best hot dogs in town, ya dig?"
-#pageStyles:
---


.col-wrap.flc.padding--verticals--2x
  
  .col.col-3.go-full-mobile.margin-bottom
    .content.card.margin-right.margin--sides--mobile
      .entry
        .badge
          =image_tag 'assets/img/badges/call-us.png', :alt => 'Call Us', :width => '97', :height => '97'
        %h4.text Call Us
        %p.text
          Have any questions; trouble finding us; or just want to shoot the shit?
        %p.cta
          614.824.4673

  .col.col-3.go-full-mobile.margin-bottom
    .content.card.margin-right--half.margin--sides--mobile
      .entry
        .badge
          =image_tag 'assets/img/badges/hours.png', :alt => 'Hours', :width => '97', :height => '97'
        %h4.text Our Hours
        %p.text
          11AM - 2:30AM
        %p.text
          Kitchen Hours:
          %br
          Sun-Thurs  11AM - 2AM
          %br
          Fri-Sat  11AM - 1:45AM
          %br
          Carryout 'Till 1:45AM
  
  .col.col-3.go-full-mobile.margin-bottom
    .content.card.margin-left--half.margin--sides--mobile
      .entry
        .badge
          =image_tag 'assets/img/badges/address.png', :alt => 'Address', :width => '96', :height => '111'
        %h4.text Our Location
        %p.text
          248 S. 4th Street
          %br
          Columbus, Ohio 43215