---
title: "adampartyka.com/resume"
description: "Front End Developer specializing in building scalable and responsive web apps and sites."
-#pageStyles:
---

%section
  %h1
    Adam Partyka
  %h2
    Web Developer
  %h4
    adampartyka@gmail.com
  .padding--verticals
    %p
      I'm a Developer who specializes in building scalable and responsive web apps and sites. My experience in both design and development makes me a unique contributor to any project team. I'm constantly seeking new technologies to learn, ways to improve my coding skills, and opportunities to teach others.
  .col-wrap.flc.margin-top
    .col.col-3-2.full-width-mobile
      %section#experience.padding-right--2x
        %h3.margin-bottom
          Experience

        %article.entry
          %h4.margin-bottom--half
            The Limited &mdash;
            %small
              New Albany, OH
          %p
            %small
              January 2014 &mdash; Current
          %h5
            Web Developer II
          %p
            Support and maintain the Demandware development environment for thelimited.com. Responsibilities include: updates to user experience for both front and back end services, managing promotional content, implementation of third-party applications and web services, documentation of projects and tasks in JIRA, collaborating with internal teams to meet business goals within the IT and eCommerce groups.

        %article.entry
          %h4.margin-bottom--half
            Resource &mdash;
            %small
              Columbus, OH
          %p
            %small
              February 2012 &mdash; November 2013
          %h5
            Front End Developer
          %p
            Developed and maintained front end code for a variety of retail clients, including Procter &amp; Gamble, Bush Bros Co, and HP. Worked closely with design teams to create responsive web experiences.
          %p
            Accomplishments included being a member of the Front End Standards Github team. I wrote the first draft on Sass standards and contributed to developing standards for Html, Css, Javascript and jQuery.

        %article.entry
          %h4
            Resource Interactive &mdash;
            %small
              Columbus, OH
          %p
            %small
              August 2011 &mdash; February 2012
          %h5
            Front End Developer (Contractor)
          %p
            Front End Development consulting services through provider, Indecon Solutions. Built provided designed templates and Facebook applications with Html, Css, JavaScript/jQuery. Clients included Herbal Essences, Wendy's, and Clairol.

        %article.entry
          %h4
            Dawson Resources &mdash;
            %small
              Columbus, OH
          %p
            %small
              March 2011 &mdash; October 2011
          %h5
            Web Developer/Designer
          %p
            Provide web design and development expertise to Dawson's clients in the Creative sector. Clients included: PPA Graphics, LaineGabriel and BIGInsight.

        %article.entry
          %h4
            Total Attorneys &mdash;
            %small
              Chicago, IL
          %p
            %small
              September 2007 &mdash; January 2011              
          %h5
            Senior Web Designer
          %p
            Design and team lead for a variety of internal .NET web applications and external consumer facing sites. Duties included user research, feedback sessions with project stakeholders, and front end design and development.

        %article.entry
          %h5
            Full list of past positions and recommendations on 
            %a{:href=>'http://www.linkedin.com/in/adampartyka',:target=>'blank'}
              LinkedIn.
          %h5
            I'm also on 
            %a{:href=>'https://github.com/apartyka',:target=>'blank'}
              Github.


    %sidebar.col.col-3.hide-mobile
      %h3.margin-bottom
        Skills

      %h4.margin-bottom--half
        Web Development
      %p Code: JavaScript, jQuery, Html, Sass/Css, Angular.js, Underscore.js
      %p Platforms: Demandware, Wordpress, .NET MVC2, .NET WebForms
      %p Data: JSON, XML
      %p APIs: Facebook, Youtube, Instagram
      %p Tools: Git, SVN, Jira, Basecamp, Middleman

      %h4.margin-bottom--half
        Design
      %p Branding and identity
      %p Logo and packaging design
      %p UI wire-framing
      %p Adobe Creative Suite


