---
title: "Welcome to development with Middleman."
description: "This is the description."
-#pageStyles:
---

%section
  %h1
    Adam Partyka
  %article
    %h2
      Web Developer
    %h3
      Front End Specialist
    .padding--verticals--half
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        %strong
          sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
