---
title: "adampartyka.com/resume"
description: "Front End Developer specializing in building scalable and responsive web apps and sites."
-#pageStyles:
---

%section
  %h1
    Adam Partyka
  %h2
    Web Developer
  %h4
    adampartyka@gmail.com
  .padding--verticals
    %p
      I'm a Developer who specializes in building scalable and responsive web apps and sites. My experience in both design and development makes me a unique contributor to any project team. I'm constantly seeking new technologies to learn, ways to improve my coding skills, and opportunities to teach others.
  .col-wrap.flc.margin-top
    .col.col-3-2.full-width-mobile
      %section#experience.padding-right--2x
        %h3.margin-bottom
          Experience

        %article.entry
          %h4.margin-bottom--half
            The Limited &mdash;
            %small
              New Albany, OH
          %p
            %small
              January 2014 &mdash; Current
          %h5
            Web Developer II
          %p
            Support and maintain the Demandware development environment for thelimited.com. Responsibilites include: updates to user experience and back end services, front end updates to the site for promotional content, documentation of projects and tasks in JIRA, collaborate with internal teams to meet business goals within the IT and eCommerce groups.

        %article.entry
          %h4.margin-bottom--half
            Resource &mdash;
            %small
              Columbus, OH
          %p
            %small
              February 2012 &mdash; November 2013
          %h5
            Front End Developer
          %p
            Developed and maintained front end code for a variety of retail clients, including Procter &amp; Gamble, Bush Bros Co, and HP. Worked closely with design teams to create responsive web experiences.
          %p
            Accomplishments included being a member of the Front End Standards Github team. I wrote the first draft on Sass standards and contributed to developing standards for Html, Css, Javascript and jQuery.

        %article.entry
          %h4
            Resource Interactive &mdash;
            %small
              Columbus, OH
          %p
            %small
              August 2011 &mdash; February 2012
          %h5
            Front End Developer (Contractor)
          %p
            Front End Development consulting services through provider, Indecon Solutions. Built provided designed templates and Facebook applications with Html, Css, JavaScript/jQuery. Clients included Herbal Essences, Wendy's, and Clairol.

        %article.entry
          %h4
            Dawson Resources &mdash;
            %small
              Columbus, OH
          %p
            %small
              March 2011 &mdash; October 2011
          %h5
            Web Developer/Designer
          %p
            Provide web design and development expertise to Dawson's clients in the Creative sector. Clients included: PPA Graphics, LaineGabriel and BIGInsight.

        %article.entry
          %h4
            Total Attorneys &mdash;
            %small
              Chicago, IL
          %p
            %small
              September 2007 &mdash; January 2011              
          %h5
            Senior Web Designer
          %p
            Design and team lead for a variety of internal .NET web applications and external consumer facing sites. Duties included user research, feedback sessions with project stakeholders, and front end design and development.

        %article.entry
          %h5
            For a full listing of my past positions as well as recommendations from colleagues, please visit my linkedIn profile at http://www.linkedin.com/in/adampartyka

    %sidebar.col.col-3.hide-mobile
      %h3.margin-bottom
        Skills

      %h4.margin-bottom--half
        Core Skills
      %p Html5, Sass/Css, JavaScript, jQuery

      %h4.margin-bottom--half
        Currently Learning
      %p isml, dscript, C#, 

      %h4.margin-bottom--half
        Familiar With
      %p Demandware, Wordpress, Underscore.js, .NET MVC2+
      %p APIs: Facebook, Youtube, Instagram
      
      %h4.margin-bottom--half
        Efficiency Tools:
      %p Middleman, Git, SVN, Jira, Basecamp

      %h4.margin-bottom--half
        Design
      %p Adobe Creative Suite
      %p Branding and identity
      %p Logo and packaging design
      %p Wire-framing


