---
title: "Welcome to development with Middleman."
description: "This is the description."
-#pageStyles:
---

%section
  %h1
    Adam Partyka
  %h2
    Front End Developer
  %h4
    adampartyka@gmail.com
  .padding--verticals
    %p
      I'm a Developer who specializes in building scalable and responsive web apps and sites. My experience in both design and development makes me a unique contributor to any project team. I'm constantly seeking new technologies to learn, improve my skills, and teach others skills of my own.
  .col-wrap.flc.margin-top
    .col.col-3-2.full-width-mobile
      %section#experience.padding-right--2x
        %h3.margin-bottom
          Experience

        %article.entry
          %h4.margin-bottom--half
            Resource:
            %small
              February 2012 &mdash; November 2013
          %h5
            Front End Developer
          %p
            Developed and maintained front end code for a variety of retail clients, including Procter & Gamble, Bush Bros Co, and HP. Worked closely with design teams to create responsive web experiences.
          %p
            Accomplishments included being a member of the Front End Standards Github team. I wrote the first draft on Sass standards and contributed to developing standards for Html, Css, Javascript and jQuery.

        %article.entry
          %h4
            Resource Interactive:
            %small
              August 2011 &mdash; February 2012
          %h5
            Front End Developer (Contractor)
          %p
            Front End Development consulting services through provider, Indecon Solutions. Built provided designed templates and Facebook applications with Html, Css, JavaScript/jQuery. Clients included Herbal Essences, Wendy's, and Clairol.

        %article.entry
          %h4
            Dawson Resources:
            %small
              March 2011 &mdash; October 2011
          %h5
            Web Developer/Designer
          %p
            Provide web design and development expertise to Dawson's clients in the Creative sector. Clients included: PPA Graphics, LaineGabriel and BIGInsight.

        %article.entry
          %h4
            Total Attorneys:
            %small
              September 2007 &mdash; January 2011
          %h5
            Senior Web Designer
          %p
            Design and team lead for a variety of internal .NET web applications and external consumer facing sites. Duties included user research, feedback sessions with project stakeholders, and front end design and development.

        %article.entry
          %h5
            For a full listing of my past positions as well as recommendations from colleagues, please visit my linkedIn profile at http://www.linkedin.com/in/adampartyka

    %sidebar.col.col-3.hide-mobile
      %h3.margin-bottom
        Skills

      %h4.margin-bottom--half
        Development
      %p Html, Sass/Css, JavaScript, jQuery
      %p Ruby, C#, PHP
      %p Middleman, Backbone.js, Underscore.js, Rails3, .NET MVC2, .NET WebForms
      %p APIs: Facebook, Youtube, Instagram
      %p Efficiency Tools: Git, SVN, Jira, Basecamp

      %h4.margin-bottom--half
        Design
      %p Adobe Creative Suite
      %p Branding and identity
      %p Logo and packaging design
      %p Wire-framing


