---
title: "Site Modules"
description: "The Page Description"
-#pageStyles:
---

%h1
  Site Modules

.padding-bottom--2x
  %h2
    Expandable Drawer

  .content
    %p
      Click a button to display a drawer's contents. The icon (or carat) moves to the location of the button that was clicked.

  .col-wrap.flc.padding--verticals.scroll-target

    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sdsd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sds dddd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' } } assqsqsqss

  .expandable-drawer
    .container.content.padding--verticals
      =image_tag 'modules/expandable-drawer-icon.gif', :alt => 'carat', :width => '170', :height => '38', :class => 'expandable-drawer-icon'
      content

.padding-bottom--2x
  %h2
    Sorting Hat

  .content
    %p
      Select from the left and right column to sort an outfit.

  .sorting-hat.col-wrap.flc.padding--verticals
    .left-selection.tops.col.col-3.align-center
      %h4.heading Tops That Suit You
      
      .swatches.col-wrap.flc.margin--verticals--half          
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Green_Tan_Jacket.jpg', :alt => ''
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Tan_Jacket.jpg', :alt => ''
        
      .swatches.col-wrap.flc.margin--verticals--half  
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Blk_Jacket.jpg', :alt => ''
        .col.col-2  
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Coral_Jacket.jpg', :alt => ''
      
      .swatches.col-wrap.flc.margin--verticals--half  
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Jean_Jacket.jpg', :alt => ''
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Navy_Jacket_NORED.jpg', :alt => ''
      
      .swatches.col-wrap.flc.margin--verticals--half        
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/CoralTipping_Jacket.jpg', :alt => ''
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/Railroad_Jacket.jpg', :alt => ''
      
      .swatches.col-wrap.flc.margin--verticals--half  
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/FrostTaupe_Jacket.jpg', :alt => ''
        .col.col-2
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/tops/DenimSailor_Jacket.jpg', :alt => ''

    .selection-container.align-center
      #tops

      #bottoms

    .right-selection.bottoms.fl-right.col-5-2.align-center      
      %h4.heading Bottoms That Suit You
      
      .swatches.col-wrap.flc.margin--verticals--half 
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Graphite_Pant.jpg', :alt => ''          
        .col.col-3  
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Graphite_Skirt.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Denim_Suit_Pant.jpg', :alt => ''
        
      .swatches.col-wrap.flc.margin--verticals--half
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Navy_Pant.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Coral_Skirt.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Green_Capri_009.jpg', :alt => ''
      
      .swatches.col-wrap.flc.margin--verticals--half
        .col.col-3
          %a{ :href => '', :class => 'product' } 
            =image_tag 'modules/sortingHat/bottoms/Railroad_Pant.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Blue_Polka_Skirt.jpg', :alt => ''
        .col.col-3  
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Denim_Jean.jpg', :alt => ''
      
      .swatches.col-wrap.flc.margin--verticals--half  
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Navy_Capri.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/LT_Tan_Pant.jpg', :alt => ''
        .col.col-3
          %a{ :href => '', :class => 'product' }
            =image_tag 'modules/sortingHat/bottoms/Coral_Pant.jpg', :alt => ''        
  /end .sorting-hat            