---
title: "Site Modules"
description: "The Page Description"
-#pageStyles:
---

%h1
  Site Modules

.padding-bottom--2x
  %h2
    Expandable Drawer

  .content
    %p
      Click a button to display a drawer's contents. The icon (or carat) moves to the location of the button that was clicked.

  .col-wrap.flc.padding--verticals.scroll-target

    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sdsd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sds dddd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' } } assqsqsqss

  .expandable-drawer
    .container.content.padding--verticals
      =image_tag 'components/expandable-drawer-icon.gif', :alt => 'carat', :width => '170', :height => '38', :class => 'expandable-drawer-icon'
      content

.padding-bottom--2x
  %h2
    Sorting Hat

  .content
    %p
      Select from the left and right column to sort an outfit.

  .sorting-hat.col-wrap.flc.padding--verticals
    .left-selection.tops.col.col-3.align-center
      %h4 Tops That Suit You
      .swatches.col-wrap.flc
        %a{ :class => 'product tops-Blk_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
          First product left side
        %a{ :class => 'product tops-CoralTipping_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Coral_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-DenimSailor_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-FrostTaupe_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Green_Tan_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Jean_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Navy_Jacket_NORED col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Railroad_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }
        %a{ :class => 'product tops-Tan_Jacket col margin--verticals', :data => { :leftSide => 'bar' } }

    .selection-container.col.col-5.align-center
      #tops.padding--verticals
        Tops Selection
      #bottoms.padding--verticals
        Bottoms Selection

    .right-selection.bottoms.col.col-5-2.align-center      
      %h4 Bottoms That Suit You
      .swatches.col-wrap.flc.padding--verticals
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          First product right side
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product bar
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product biz
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product bam
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product bar
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product biz
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product bam
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product bar
        %a{ :class => 'product col margin--verticals', :data => { :rightSide => 'bar' } }
          product biz