---
title: "Site Modules"
description: "The Page Description"
-#pageStyles:
---

%h1
  Site Modules

.padding-bottom--2x
  %h2
    Expandable Drawer

  .content
    %p
      Click a button to display a drawer's contents. The icon (or carat) moves to the location of the button that was clicked.

  .col-wrap.flc.padding--verticals.scroll-target

    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sdsd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' }  } sds dddd
    .col.col-3.full-width-mobile
      %button{ :class => 'button button-primary margin-bottom--half expandable-drawer-trigger', :data => { :callBack => 'drawerCallback' } } assqsqsqss

  .expandable-drawer
    .container.content.padding--verticals
      =image_tag 'components/expandable-drawer-icon.gif', :alt => 'carat', :width => '170', :height => '38', :class => 'expandable-drawer-icon'
      content

.padding-bottom--2x
  %h2
    Sorting Hat

  .content
    %p
      Select from the left and right column to sort an outfit.

  .sorting-hat.col-wrap.flc.padding--verticals
    .left-selection.tops.col.col-5-2
      %h4 Tops That Suit You
      .product-row.col-wrap.flc
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-1' } }
          product bam
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-2' } }
          product bar
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-3' } }
          product bam
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-4' } }
          product bar
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-5' } }
          product bam
        %a{ :class => 'product col col-2 margin--verticals', :data => { :foo => 'bar', :baz => 'woot-6' } }
          product bar

    .col.col-5
      #tops-selection.product.padding--verticals.margin-bottom--2x
        Tops Selection
      #bottoms-selection.product.padding--verticals
        Bottoms Selection

    .right-selection.bottoms.col.col-5-2.align-right      
      %h4 Bottoms That Suit You
      .product-row.col-wrap.flc.padding--verticals
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bam
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bar
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product biz
      .product-row.col-wrap.flc.padding--verticals
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bam
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bar
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product biz
      .product-row.col-wrap.flc.padding--verticals
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bam
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product bar
        %a{ :class => 'product col col-3', :data => { :foo => 'bar', :baz => 'qux' } }
          product biz