/* ==========================================================================
Global Footer
========================================================================== */
#global-footer {
    background-color: $color-light-gray;
    border-top: 2px solid rgb(233,233,233);
    color: $color-medium-gray;

    h5 {
    	color: $color-white;
    	font-size: (11em/16);
    	margin-bottom: $default-space--smallest
    }

    a {
        color: $color-medium-gray;            
        &:hover {
          color: $color-ketchup-red;
          text-decoration: none;
        }
    }

    p,
    .utility {
        font-size: (12em/16);
    }    

    p, ul {
        @include mediaQuery($max, $pre-tablet) {
            display: block;
        }
    }

    .icon {
        font-size: (16em/16);
    }
}